<!DOCTYPE html>
<html>
<head>
  <title>Projectmeal</title>
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
<div class="row">
<%= yield :sidebar %>
<%= yield %>


</div>
<div class="text-center"><%= render 'layouts/footer' %></div>
</body>
</html>
